<footer class="mt-auto bg-teal-950 dark:bg-teal-900 border-t border-gray-100 dark:border-teal-800">
    <div class="px-6 py-6">
        <div class="max-w-7xl mx-auto">
            <!-- Links to other sites -->
            <div class="mb-4">
                <div class="flex flex-wrap gap-6 text-sm">
                    <a href="/" class="text-neutral-200 transition-colors">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                    <a href="/about" class="text-neutral-200 transition-colors">
                        <i class="fa-solid fa-user"></i> About
                    </a>
                    <a href="https://github.com/{{ metadata.author.github }}" target="_blank" rel="noopener"
                        class="text-neutral-200 transition-colors">
                        <i class="fa-brands fa-github"></i> GitHub
                    </a>
                    <a href="https://twitter.com/{{ metadata.author.x }}" target="_blank" rel="noopener"
                        class="text-neutral-200 transition-colors">
                        <i class="fa-brands fa-square-x-twitter"></i> X
                    </a>
                </div>
            </div>

            <!-- Copyright and license info -->
            <div class="flex flex-col sm:flex-row sm:items-center gap-4 pt-4 border-t border-teal-800">
                <p class="text-sm text-neutral-200">
                    <i class="fa-regular fa-copyright"></i>
                    {{ metadata.copyrightYearRange }} {{ metadata.author.name }}
                    <span class="text-gray-400 mx-2">|</span>
                    {% if license %}
                    <span class="text-neutral-200">{{ license }}</span>
                    {% else %}
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener"
                        class="text-neutral-200 transition-colors">
                        <i class="fa-brands fa-creative-commons"></i><i class="fa-brands fa-creative-commons-by"></i><i
                            class="fa-brands fa-creative-commons-nc"></i>
                        4.0
                    </a>
                    {% endif %}
                    unless stated
                    {% if metadata.commitSha %}
                    <span class="text-gray-400 mx-2 hidden sm:inline">|</span>
                    <a href="https://github.com/wensimehrp/blog/commit/{{ metadata.commitSha.full }}" target="_blank"
                        rel="noopener" class="text-gray-400 hidden sm:inline transition-colors">
                        <i class="fa-solid fa-code-commit"></i>
                        {{ metadata.commitSha.short }}
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</footer>
